#spot_card_container {
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

#spot_card_image_container {
  display: flex;
  width: 210px;
  height: 160px;
}

#spot_card_image {
  width: 100%;
  position: relative;
  min-width: 200px;
  object-fit: cover;
  border-radius: 1em;
}

#city_state_stars{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#review_stars {
  color: gold;
  font-size: large;
  margin-right: .5em;
}
