#manage_spots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: auto;
  gap: 1.5em;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

#manage_spots_header {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
  padding-bottom: 1.5em;
  border-bottom: 1px solid lightgray;
}
