#sign_up_form_modal_container{
    display: flex;
    flex-direction: column;
    margin: 2em;
    gap: 1.5em;
}

#sign_up_form_h1{
    text-align: center;
}

#sign_up_form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#sign_up_form_label{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

#sign_up_form_button_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}