#new_spot_form_container {
  max-width: 400px;
  margin: auto;
}

#new_spot_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

.new_spot_form_section {
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
}

#form_h1 {
  text-align: center;
}

.form_h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.form_p {
  margin-bottom: 0.5em;
}

.new_spot_form_input {
  width: 98%;
  margin-bottom: 0.5em;
}

#button_container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 100%;
}

#new_spot_form_submit {
  width: 33%;
  background-color: brown;
}

.error_message {
  color: red;
}
