#root{
  font-family: Montserrat, Arial, Sans Serif;
}

div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .25em;
  padding: 0;
}

p {
  margin: .25em;
  padding: 0;
}

