#review_form_container{
    margin: 1em;
}

#review_form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#review_stars_container{
    display: flex;
    gap: 1em;
    justify-content: center;
}

.review_stars_dark{
color: grey;
font-size: x-large;
cursor: pointer;
}

.review_stars_light {
    color: gold;
font-size: x-large;
cursor: pointer;
}