#nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  content: url("https://banner2.cleanpng.com/20180619/tqh/kisspng-vacation-rental-homeaway-house-homelidays-logo-square-5b29717b4c8803.0025708115294426833135.jpg");
  width: 50px;
  height: 50px;
  margin-left: 5em;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 400px;
  list-style: none;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  margin-right: 5em;
}

.nav_links {
  display: flex;
  flex-direction: row;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

.nav_button {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button_home:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button_home:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.button_home:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
